# Python Problem-Solving Portfolio
### By Azeem

Welcome to my problem-solving journey! This notebook contains my solutions to various Python programming problems, ranging from basics to advanced topics.

**Goal:** Improve logical thinking, code clarity, and problem-solving skills.

## Problem [1]:

**Problem Statement:**  
Combine two lists index-wise(columns wise)
 - Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

**Example:**  
Input: `list1 = ["M", "na", "i", "Kh"] &
list2 = ["y", "me", "s", "an"]`  
Output: `[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]`

**Solution:**

In [313]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
result = list(zip(list1,list2))
print(result)

[('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]

## Problem [2]:

**Problem Statement:**  
Add new item to list after a specified item
 - Write a program to add item 7000 after 6000 in the following Python List

**Example:**  
Input: `list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]`  
Output: `[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]`

**Solution:**

In [319]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Problem [3]:

**Problem Statement:**  
Update no of items available
 - Suppose you are given a list of candy and another list of same size representing no of items of respective candy.
 - Write a program to show no. of items of each candy type.

**Example:**  
Input: 
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

```
Output:

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32
```

**Solution:**

In [334]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(len(candy_list)):
    for j in range(len(no_of_items)):
        print(candy_list[i],'-',no_of_items[i])
        break

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

## Problem [4]:

**Problem Statement:**  
Running Sum on list
 - Write a program to print a list after performing running sum on it.

**Example:**  
Input: `list1 = [1,2,3,4,5,6]`  
Output: `[1,3,6,10,15,21]`

**Solution:**

In [336]:
list1 = [1,2,3,4,5,6]
new_list = []
sum = 0
for i in list1:
    sum = sum + i
    new_list.append(sum)
print(new_list)

[1, 3, 6, 10, 15, 21]

## Problem [5]:

**Problem Statement:**  
You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
 - i.e. Say given list is [2,4,6,10,1] resultant list will be [22,20,10,23].

For 1st element 2 ->> these are greater (4+6+10) values and 2 itself so on adding becomes 22.

For 2nd element 4 ->> greater elements are (6, 10) and 4 itself, so on adding 20

like wise for all other elememts.

[2,4,6,10,1]-->[22,20,16,10,23]


**Example:**

Input: `[2,4,6,10,1]`  
Output: `[22,20,16,10,23]`

**Solution:**

In [113]:
list1 = [2,4,6,10,1]
new_list = []
for i in list1:
    sum = 0
    for j in list1:
        if j >= i:
            sum += j
    new_list.append(sum)
print(new_list)

[22, 20, 16, 10, 23]

## Problem [6]:

**Problem Statement:**  
Find list of common unique items from two list. and show in increasing order

**Example:**  
Input: `num1 = [23,45,67,78,89,34] &
num2 = [34,89,55,56,39,67]`  
Output: `[34, 67, 89]`

**Solution:**

In [33]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
new_list = []
for i in num1:
    for j in num2:
        if i == j:
            new_list.append(i)
new_list.sort()
print(new_list)

[34, 67, 89]

## Problem [7]:

**Problem Statement:**  
Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

**Example:**  
Input: `['1ac21', '23fg', '456', '098d','1','kls']`  
Output: `['456', '23fg', '1ac21', '1', 'kls', '098d']`

**Solution:**

In [110]:
L = ['1ac21', '23fg', '456', '098d','1','kls']
new_list = []
for i in L:
    multiply = 1
    for j in i:
        if j.isdigit():
            multiply = multiply * int(j)
    new_list.append(multiply)
paired_list = list(zip(L,new_list))
sorted_list = sorted(paired_list, key=lambda x: x[1], reverse=True)
result = [item[0] for item in sorted_list]
print(result)

['456', '23fg', '1ac21', '1', 'kls', '098d']

## Problem [8]:

**Problem Statement:**  
Split String of list on K character.

**Example:**  
Input: `['CampusX is a channel', 'for data-science', 'aspirants.']`  
Output: `['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']`

**Solution:**

In [ ]:
list1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
new_list = []
for i in list1:
    new_list.extend(i.split())
print(new_list)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

## Problem [9]:

**Problem Statement:**  
Convert Character Matrix to single String using string comprehension.

**Example:**  
Input: `[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]`  
Output: `campux is best channel`

**Solution:**

In [75]:
list1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
for i in list1:
    print(''.join(i),end=' ')

campux is best channel

## Problem [10]:

**Problem Statement:**  
Add Space between Potential Words.

**Example:**  
Input: `['campusxIs', 'bestFor', 'dataScientist']`  
Output: `['campusx Is', 'best For', 'data Scientist']`

**Solution:**

In [109]:
list1 = ['campusxIs', 'bestFor', 'dataScientist']
new_list = []
for i in list1:
    new_string = ''
    for j in i:
        if j.isupper():
            new_string = new_string + (' '+j)
        else:
            new_string = new_string + j
    new_list.append(new_string)
print(new_list)

['campusx Is', 'best For', 'data Scientist']

## Problem [11]:

**Problem Statement:**  
Write a program that can perform union operation on 2 lists

**Example:**  
Input: `[1,2,3,4,5,1] &
[2,3,5,7,8]`  
Output: `[1,2,3,4,5,7,8]`

**Solution:**

In [ ]:
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]
new_list = []
for i in set(list1):
    new_list.append(i)
for j in list2:
    if j not in list1:
        new_list.append(j)
print(new_list)

[1, 2, 3, 4, 5, 7, 8]

## Problem [12]:

**Problem Statement:** 
Write a program that can find the max number of each row of a matrix

**Example:**  
Input: `[[1,2,3],[4,5,6],[7,8,9]]`  
Output: `[3,6,9]`

**Solution:**

In [81]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
new_list = []
for i in list1:
    new_list.append(max(i))
print(new_list)

[3, 6, 9]

## Problem [13]:

**Problem Statement:**  
Write a list comprehension to print the following matrix

**Example:**  
Input: `List comprehension to print this matrix`  
Output: `[[0, 1, 2], [3, 4, 5], [6, 7, 8]]`

**Solution:**

In [99]:
num_col = 3
num_rows = 3
result = [[i * num_col + j for j in range(num_col)] for i in range(num_rows)]
print(result)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

## Problem [14]:

**Problem Statement:**  
Write a list comprehension that can transpose a given matrix

**Example:**  
Input: `matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]`  
Output: `[1, 4, 7]
[2, 5, 8]
[3, 6, 9]`

**Solution:**

In [ ]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Problem [15]:

**Problem Statement:**  
Write a list comprehension that can flatten a nested list

**Example:**  
Input: `matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]`  
Output: `[1, 2, 3, 4, 5, 6, 7, 8, 9]`

**Solution:**

In [94]:
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
new_list = []
for i in matrix:
    for j in i:
        new_list.append(j)
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]